body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#app{
    background-color: black;
    width: 400px;
    height: 600px;
}
.row{
    display: flex;
    height: 100px;

}
input[type="text"],button{
    flex: 1;
    border: none;
    outline: none;
  background-color: rgb(107, 104, 104);
  color:aliceblue;
}



input[type="text"]{
   
    color: antiquewhite;
    font-size: 1.7em;
    padding: 0 20px;
    width:50vh ;
}

button{
   
    background-color: black;
    font-size: 1.2em;



}
button:hover{
    background-color: black;
    cursor: pointer;

}
.special{
    flex: 2;
}